{% extends "base.html" %}

{% block body %}
    <div class="container my-5">
    <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }} ">Home</a></li>

                      <li class="breadcrumb-item" aria-current="page"><a>About</a></li>
                  </ol>
                </nav>
            </div>
        </div>
    <div class="row">
      <div class="col-md-7">
        <h1>About Us</h1>
        <p class="lead">At Oasis Nourish, we are passionate about helping people live healthier, more sustainable lives. We believe that everyone should have access to high-quality, nutrient-rich foods that are good for both their body and the planet.</p>
        <p>We started this business with the goal of providing people with a convenient and affordable way to get the healthy, natural products they need. Whether you're looking for organic produce, non-GMO snacks, or eco-friendly household supplies, we've got you covered.</p>
      </div>
      <div class="col-md-5">
        <img src="{{ url_for("static", filename="images/photo.jpg") }}" alt="Image" class="img-fluid rounded">
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Our Mission</h2>
          <p>We are committed to promoting healthy living and sustainable practices through our products and services. Our mission is to provide people with access to high-quality, natural products that are good for both their body and the planet.</p>
        </div>
        <div class="col-md-6">
          <h2>Our Values</h2>
          <ul>
            <li>Quality: We are dedicated to sourcing only the best products from trusted suppliers.</li>
            <li>Sustainability: We believe in using sustainable practices to protect the environment.</li>
            <li>Accessibility: We strive to make healthy living accessible to everyone.</li>
            <li>Community: We value our customers and are committed to building strong relationships with them.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}