{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}


{% block body %}
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3 class="bold">
                    <i class="glyphicon glyphicon-pencil"></i> Delivery Information
                </h3>

                <div class="card card-primary mb-2">
                    <form method="POST" action="{{ url_for('main.checkout') }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="bold">Personal Information</h4>
                            </div>
                            {{ form.csrf_token }}
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ render_field(form.first_name) }}
                                </div>
                                <div class="form-group">
                                    {{ render_field(form.last_name) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ render_field(form.phone_number) }}
                                </div>
                                <div class="form-group">
                                    {{ render_field(form.email) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="bold">Address</h4>
                            </div>
                            <div class="col-lg-12">
                                {% if address is none %}

                                {% else %}
                                    {{ address.street }}<br>
                                    {{ address.suburb }}<br>
                                    {{ address.city }}<br>
                                    {{ address.postal_code }}<br>
                                {% endif %}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="bold">Payment</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Payment Option</label>
                                    {{ form.payment_type(class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn text-white fw-bold" style="background-color: var(--theme-cyan)">
                            Submit My Order
                        </button>
                    </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="bold"> Cart Details
                </h3>

                <div class="card card-primary mb-3">
                    <div class="card-header">
                        Current Cart Value
                    </div>
                    <ul class="list-group rounded-0">
                        <li class="list-group-item">
                            <p>
                                {{ quantity_total }} Items <strong class="float-end">{{ "R{:,.2f}".format(grand_total / 100) }}</strong>
                            </p>
                            <p>
                                Delivery <strong class="float-end">R100</strong>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p>Total <strong class="float-end">{{ "R{:,.2f}".format(grand_total_plus_shipping / 100) }}</strong></p>
                        </li>
                    </ul>
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Benefits</h3>
                    </div>
                    <div class="card-body">
                        Some of the benefits of shopping with us include:
                    </div>
                    <ul class="list-group rounded-0 border-0">
                        <li class="list-group-item">Our Products Are Very Fresh</li>
                        <li class="list-group-item">Next Day Delivery</li>
                        <li class="list-group-item">Flexible Payment Options</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
