{%  extends "base.html" %}

{% block body %}
    <div class="container my-5">
    <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }} ">Home</a></li>

                      <li class="breadcrumb-item" aria-current="page"><a>Privacy Policy</a></li>
                  </ol>
                </nav>
            </div>
        </div>
    <h1>Privacy Policy</h1>
    <p>At Oasis Nourish, we take your privacy seriously. This Privacy Policy explains how we collect, use, and protect your personal information. By using our website, you consent to the terms of this Privacy Policy.</p>

    <h2>What information do we collect?</h2>
    <p>We collect information that you voluntarily provide to us, such as your name, email address, phone number, and shipping address. We also collect information about your browsing activity on our website, including pages viewed and products purchased.</p>

    <h2>How do we use your information?</h2>
    <p>We use your information to process and fulfill your orders, communicate with you about your orders, and to personalize your experience on our website. We may also use your information to send you promotional emails and other marketing materials, but you can opt-out of these communications at any time.</p>

    <h2>Do we share your information?</h2>
    <p>We do not sell, trade, or rent your personal information to third parties. We may share your information with third-party service providers that help us operate our website and fulfill orders. These service providers have access to your information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.</p>

    <h2>How do we protect your information?</h2>
    <p>We take appropriate measures to protect your personal information against unauthorized access, disclosure, alteration, or destruction. These measures include using SSL encryption for all website communications and storing your information on secure servers.</p>

    <h2>Changes to this Privacy Policy</h2>
    <p>We reserve the right to modify this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by email or by posting a notice on our website. Your continued use of our website after any changes to this Privacy Policy will constitute your acceptance of such changes.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at privacy@oasisnourish.com.</p>
  </div>
{% endblock %}