header.page-header div.header-wrapper-top img.logo {
    max-height: 2.25em;
}
header.page-header div.header-wrapper-bottom {
    background-color: #288239;
}
header.page-header button.btn {
    font-size: 1.3125em;
}
header.page-header div.mobile-header-right .cart-btn {
    position: relative;
}

header.page-header input[type="search"] {
    padding-left: 2em;
    padding-right: 3.5em;
    border-radius: 2.5em;
    font-family: Roboto, sans-serif;
}
header.page-header button[type="submit"].search-btn {
    margin-left: -3em;
    font-size: 1.125em;
}
@media screen and (max-width: 991px){
    span.badge.badge-green {
        background: darkgreen;
        border-radius: 50%;
        font-size: 0.5em;
        position: absolute;
        top: 4px;
        right: 4px;
    }
}
@media screen and (min-width: 992px){

    span.badge.badge-green {
        border-radius: 50%;
        font-size: 1em;
        position: relative;
        padding:0;
    }
    button.btn.cart-btn {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.75em;
        background-color: green;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        font-size: 1em;
    }
    button.btn.btn-account {
        border: 1px solid gainsboro;
        padding-left: 20px;
        padding-right: 20px;
    }
    header.page-header button.btn {
        font-size: 18px;
    }
}