@import "./header.css";

:root {
    --theme-green: #2F7E3D;
    --theme-yellow-green: #a5b52e;
    --theme-cyan: #0e7490;
    --theme-blue: #007BFF;

}
body#body {
    font-family: 'Roboto', sans-serif;
}
main.page-content nav.navigation-menu a {
    text-decoration: none;
    color: var(--theme-green);
    font-weight: 600;
}
main.page-content nav.navigation-menu a:hover {
    color: var(--theme-cyan)
}