{% extends "base.html" %}
{% from "macros.html" import render_products %}
{% block styles %}
    <style>
        #animation-categories {
            background-image: url("{{ url_for('static', filename='images/categories/bakery.jpg') }}");
            background-size: cover;
            background-position: center center;
            animation: 20s background-image-change infinite alternate;
        }
        @keyframes background-image-change {
            0% {
                background-image: url("{{ url_for('static', filename='images/categories/bakery.jpg') }}");
            }
            16% {
                background-image: url("{{ url_for('static', filename='images/categories/beverages.jpg') }}");
            }
            32% {
                background-image: url("{{ url_for('static', filename='images/categories/dairy.jpg') }}");
            }
            48% {
                background-image: url("{{ url_for('static', filename='images/categories/dry_goods.jpg') }}");
            }
            64% {
                background-image: url("{{ url_for('static', filename='images/categories/fresh_foods.jpg') }}");
            }
            80% {
                background-image: url("{{ url_for('static', filename='images/categories/proteins.jpg') }}");
            }
            100% {
                background-image: url("{{ url_for('static', filename='images/categories/snacks.jpg') }}");
            }
        }

    </style>
{% endblock %}
{% block body %}
    <div class="py-3">
        <div class="container-fluid">
            <div class="mb-0">
                <div class="col-lg-12 mb-0">
                    <h1 class="text-center text-white py-3 m-0" style="background: var(--theme-cyan)">Welcome to Oasis Nourish</h1>
                </div>
                <div id="animation-categories" style="height: 20em" class="col-lg-12 m-0">
                    <div class="h-100 w-100 d-flex flex-nowrap align-items-end justify-content-center p-5" style="background-color: rgba(0, 0, 0, 0.25)">
                        <a class="btn p- fw-bold rounded-0 text-white" href="{{ url_for("products") }}"
                       style="background: var(--theme-yellow-green)">Shop Now
                        <i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h2 style="color: var(--theme-green)" class="m-0 d-flex align-items-center flex-nowrap justify-content-between">
                        <span>Fresh Foods</span> <a class="btn p- fw-bold rounded-0 text-white" href="{{ url_for("products_by_cat", cat="Fresh Foods") }}"
                                                   style="background: var(--theme-yellow-green)">Shop Now <i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i> </a>
                    </h2>
                    <div>
                        {{ render_products(fresh_foods) }}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h2 style="color: var(--theme-green)" class="m-0 d-flex align-items-center flex-nowrap justify-content-between">
                        <span>Top Rated</span> <a class="btn p- fw-bold rounded-0 text-white" href="{{ url_for("products") }}"
                                                   style="background: var(--theme-yellow-green)">Shop Now <i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i> </a>
                    </h2>
                    <div>
                        {{ render_products(top_rated) }}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 bg-body-secondary p-3 p-md-5">
                    <h3>Why Choose Us?</h3>
                    <div>
                        Our store offers a wide selection of high-quality, healthy, and sustainable products including organic
                        and non-GMO food items. We source only the best products from trusted suppliers and offer affordable
                        prices with fast and convenient delivery options. Our exceptional customer service team is here to
                        help you with any questions or concerns you may have. Shop with us today and experience the difference!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %} {% endblock %}