{% extends "layout.html" %}
{% block styles %}
    <style>
        header, footer {
            display: none;
        }
    </style>
{% endblock %}
{% block page_content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span>Something went wrong</p>
                <p class="lead">
                    It's not you, it's me.
                  </p>
                <a href="{{ url_for("home") }}" style="background: var(--theme-cyan)" class="btn btn-lg text-white fw-bold">Go Home</a>
            </div>
        </div>
{% endblock %}