{% extends 'layout.html' %}
{% block page_content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-4">
                <div class="p-2">
                    <h5>My Account</h5>
                </div>
                <div>
                    <ul>
                        <li><a>Personal Details</a></li>
                        <li><a>Contact Details</a></li>
                        <li><a>Change Password</a></li>
                        <li><a>Update Billing Address</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <h5>Oasis Nourish</h5>
                </div>
                <div>
                    <ul>
                        <li><a>Shop</a></li>
                        <li><a>Orders</a></li>
                        <li><a>Credit Cards</a></li>
                        <li><a>Update Delivery Address</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}