{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}


{% block page_content %}
<div>

    <div class="details-content container py-3">
        <div class="side-detail-menu">

        </div>
        <div class="content">
            <div>
                <h4 class="fw-normal border-bottom border-1 pb-2">Account Information</h4>
                <div>
                    <div>
                        <h5>Personal Details</h5>
                        <div>
                            <div class="d-flex align-items-end gap-5 flex-nowrap mb-2">
                                <div>
                                    {{ current_user.first_name }} {{ current_user.last_name }}<br>
                                    {{ current_user.phone }}<br>
                                    {{ current_user.email }}
                                </div>
                                <div class="d-flex flex-column flex-nowrap">
                                    <span data-bs-toggle="modal" data-bs-target="#form-modal" id="update-details-btn"
                                          class="fw-bold" style="color: var(--theme-cyan); cursor: pointer;">Change Details</span>
                                    <span data-bs-toggle="modal" data-bs-target="#form-modal" id="update-email-btn"
                                          class="fw-bold" style="color: var(--theme-cyan); cursor: pointer;">Update Email</span>
                                </div>
                            </div>
                            <div>
                                <span data-bs-toggle="modal" data-bs-target="#form-modal" id="update-password-btn"
                                      class="fw-bold" style="color: var(--theme-cyan); cursor: pointer;"><i class="fa-solid fa-lock me-1"></i> Change Password</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-modal">
      Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalFormLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container py-3 update-forms">
                        <div class="row mb-2 account-form personal-form">
                            <form id="editDetailsForm" class="bg-white" method="post">
                                {{ personal_form.csrf_token() }}

                                <div class="d-flex flex-nowrap flex-column">
                                    <div>
                                        {{ render_field(personal_form.first_name, value=current_user.first_name) }}
                                    </div>
                                    <div>
                                        {{ render_field(personal_form.last_name, value=current_user.last_name) }}
                                    </div>
                                    <div>
                                        {{ render_field(personal_form.phone, placeholder="0123456789", value=current_user.phone) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row mb-2 account-form email-form">
                            <form id="editEmailForm" class="bg-white" method="post">
                                {{ email_form.csrf_token() }}

                                <div class="d-flex flex-column flex-nowrap">
                                    <div>
                                        {{ render_field(email_form.email, value=current_user.email) }}
                                    </div>
                                    <div>
                                        {{ render_field(email_form.password) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row mb-2 account-form password-form">
                            <form id="editPasswordForm" class="bg-white" method="post">
                                {{ password_form.csrf_token() }}

                                <div class="d-flex flex-column flex-nowrap">
                                    <div>
                                        {{ render_field(password_form.password) }}
                                    </div>
                                    <div>
                                        {{ render_field(password_form.new_password) }}
                                    </div>
                                    <div>
                                        {{ render_field(password_form.new_password2) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="save-changes-btn" form="" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        const allForms = document.querySelectorAll(".account-form");
        allForms.forEach(item => item.style.display = 'none');

        const modalFormLabel = document.querySelector("#modalFormLabel");

        const updateDetailsBtn = document.querySelector("span#update-details-btn");
        const updateEmailBtn = document.querySelector("span#update-email-btn");
        const saveChangesBtn = document.querySelector("button#save-changes-btn");

        const showForm = (divClass, modalTitle) => {
            allForms.forEach(item => item.style.display = 'none');
            const div = document.querySelector(divClass);
            if (div) {
                div.style.display = 'block';
                const form = document.querySelector(`${divClass} form`);
                if (saveChangesBtn && form ) saveChangesBtn.setAttribute('form', form.id);
            }
            if (modalFormLabel) modalFormLabel.innerText = modalTitle;
        }

        const addButtonListeners = (button, divClass, modalTitle) => {
            if (button) button.addEventListener('click', () => showForm(divClass, modalTitle));
        }

        addButtonListeners(updateDetailsBtn, ".personal-form", "Update Details");
        addButtonListeners(updateEmailBtn, ".email-form", "Change Email");
    </script>
{% endblock %}