{% extends "base.html" %}
{% block styles %}
    <style>
        header, footer {
        display: none;
    }
    </style>
{% endblock%}
{%  block body %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="mb-3">Account Unconfirmed</h1>
      <p class="lead">Your account has not yet been confirmed.</p>
      <p>Please check your email for a confirmation link, or <a href="#">resend confirmation</a> if you didn't receive it.</p>
    </div>
  </div>
</div>
{% endblock %}